:root {
  
  --primary-maritimus-color: #123b4f;
  --secondary-maritimus-color: #d7d1d1;

  --navbar-background-color: #9194a0;
  --navbar-font-color: #edf0f1;

  --body-color: #ADADAD;
  --card-color: #FFFFFF;

}